* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ebebeb;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

div.top-header {
  display: flex;
  flex-wrap: wrap;
  padding: 5%;
}

header {
  background-color: #EAC926;
}

header div.logo,
header .form {
  width: 50%;
}

header div.logo {
  padding: 10px;
}

header .form {
  display: flex;
  align-items: center;
  margin: auto;
}

header nav {
  font-size: 12px;
  margin-left: 20px;
}

header ul li {
  list-style-type: none;
}

header ul li a {
  text-decoration: none;
  color: #000;
}

.input-nav-bar {
  background-color: #fff;
  color: #666;
  font-size: 11px;
  border: #fff;
  border-radius: 4px;
  width: 90%;
  padding: 8px
}

.nav-search-btn {
  background-color: #fff;
  color: #666;
  border: #fff;
  width: 10%;
  padding: 2px;
  position: relative;
  right: 15px;
}

header div.top-header p {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

#space-lists {
  margin-bottom: 10px
}

div.burger-menu {
  text-align: center;
}

div.burger-menu i {
  background-color: #0044aa;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  margin: 10px 0px 20px 0px;
  padding: 10px;
  width: 40px;
}

section.banner img {
  width: 100%;
}

main {
  width: 90%;
  margin: 0 auto;
}

main section article {
  background-color: #fff;
  margin: 10px 0px;
}

article div.main-article {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 15px;
}

div .section-last-visit, 
div .section-offers {
  display: flex;
  flex-wrap: wrap;
}

.price {
  font-size: 18px;
  width: 30%;
}

.discount {
  width: 70%;
}

.description {
  margin-top: 20px;
  display: none;
}

.discount,
.description {
  font-size: 16px;
  font-weight: normal;
}

h3,
.description {
  color: #666;
}

main section article h3 {
  margin: 20px 0px;
}

main section article img {
  width: 100%;
}

main section article i {
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
}

main section article i,
.discount {
  color: #39b54a;
}

header nav,
.section-offers {
  display: none;
}

footer section {
  background-color: #fff;
  color: #666
}

footer section article {
  text-align: center;
  padding: 8%
}

footer section article i {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

footer section article p {
  margin-left: 10%;
  margin-right: 10%
}

#rights {
  background-color: #fff;
  color: #666;
  padding-left: 2%;
}

.input-container {
  width: 100%;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 11px;
  padding: 4px;
}

button {
  color: white;
  font-size: 11px;
  background-color: #1259c3;
  border: none;
  border-radius: 4px;
  padding: 4px;
  cursor:pointer;
  transition: background-color 400ms;
}

button:hover {
  background-color: #0022AA;
}

@media (min-width: 361px) {

  div.top-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  header div.logo,
  header .form,
  header div.top-header p {
    width: 33%;
  }

  header div.top-header p {
    font-size: 11px;
  }

  header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #siteBar,
  #loginBar {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  header .form {
    justify-content: space-around;
    position: relative;
    left: 20px;    
  }
  
  .input-nav-bar {
    padding: 2px;
    border: 1px solid #666;
    border-top: none;
    border-radius: 3px;
    width: 62%;
    height: 20px;
    padding: 2px 10px 2px 5px;
  }
  
  .nav-search-btn {
    background-color: #ebebeb;
    color: #000;
    border: 0.5px solid #666;
    border-radius: 2px;
    padding: 1px 0px 1px;
    width: 8%;
    right: 30px;
  }

  .description {
    display: block;
  }

  main section article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .products article {
    width: 45%;
  }

  .price,
  .discount {
    width: 50%;
  }

  .hide-section-offers {
    display: block;
  }

  div.burger-menu {
    display: none;
  }
}

@media (min-width: 768px){
  
  main section article .description {
    position: relative;
    opacity: 0;
    transition: opacity 400ms;
  }

  main section article :hover .description {
    opacity:1;
  }

  .products article {
    width: 22%;
  }

  main section div.products article {
    width: 22%;
    box-shadow: none;
    transition: box-shadow 400ms;
    cursor: pointer;
  }

  main section div.products article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  main section article i {
    transition: transform 400ms;
  }

  main section article:hover i {
    transform: rotate(-90deg);
  }
  
  footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  footer section article {
    width: 33%;
  }

  footer section article {
    padding: 20px 0px 20px;
  }
  
  footer section article i {
    margin-bottom: 10px;
    cursor:pointer;
    transition: color 1000ms;
  }

  footer section article i:hover {
    color:#03264C;
  }

  footer section article h4 {
    font-size: 15px;
  }
  
  footer section article p {
    font-size: 11px;
    margin-left: 15px;
    margin-right: 15px;
  }
}


